[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
aiohttp = "==3.4.4"
"discord.py" = {editable = true,git = "https://github.com/Rapptz/discord.py.git",ref = "700dbb5555f7edd5a1fa8915d606495439b24ee3"}
python-dotenv = "*"
pylint = "*"

[requires]
python_version = "3.7"
